[2019-01-07 19:48] benjaminhoffman opened #4 "Remove lodash"
Want to decrease the size of this library?  Try:

I think you only use `_.filter` right?  If so, try replacing lodash with: https://www.npmjs.com/package/lodash.filter

Or even better, ditch lodash altogether and use native JS filter method instead.

[2019-03-01 05:08] hiteshbal91 commented on #4
Yes @benjaminhoffman, Good suggestion. We will decrease the size of the library. 👍

[2019-03-01 06:51] hiteshbal91 commented on #4
Hi @benjaminhoffman We have removed lodash library from dependency in version 1.0.2.

[2019-03-01 17:14] benjaminhoffman commented on #4
nice thx.  unrelated but much higher priority is this bug... can you help nudge the folks there to get this fixed: https://github.com/contentstack/contentstack-javascript/issues/11

[2019-03-01 17:14] #4 closed

[2019-07-07 14:24] andrejpavlovic opened #9 "Issue with stale fetching of locales"
After trying to figure out why newly added locales were not showing up in gatsby's graphql and talking with support, we narrowed it down to the endpoint `https://cdn.contentstack.io/v3` being used by this plugin. This endpoint should be updated to `https://api.contentstack.io/v3` by default, since for some reason (beyond my understanding) the  `https://cdn...` doesn't update when locales are modif

[2019-07-08 15:36] harshalpatel91 commented on #9
Hi, @andrejpavlovic

Thanks for the detailed description. This is a bug.

We are working on using Contentstack [Sync APIs](https://www.contentstack.com/docs/apis/content-delivery-api/#synchronization) in the source plugin which will resolve this issue. This release will also include performance improvements in the build time. We are very close to this release, we’ll keep you posted.

[2019-07-10 16:13] IvanShymanovich opened #10 "Unpublished/Deleted nodes are not removed from GraphQL"
Hi,
We have a problem at our project when calling `/__refresh` API from ContentStack, which invokes `sourceNodes` function. If works fine for new content and updated entries, but the plugin doesn't reflect content unpublishing/deletion from ContentStack in GraphQL. As I can see, you have node creation only ([here](https://github.com/contentstack/gatsby-source-contentstack/blob/c776765f0b88a03455a7

[2019-07-11 16:27] harshalpatel91 commented on #10
Hi @IvanShymanovich ,

In sync api we would get deleted or unpublish events with it's metadata so we can run deleteNode function so it will remove those nodes. I believe this should resolved bug. I will dig more on /__refresh API to get more insight.

[2019-07-12 09:19] IvanShymanovich commented on #10
Basically, `/__refresh` hook simply calls `sourceNodes`, so you'll anyway handle this hook. Since the new API returns content delta, I hope this should not be a problem to handle both published and unpublished contents.
@harshalpatel91 do you have a planned release date or a rough guess?
Thanks!

[2019-07-16 05:08] harshalpatel91 commented on #10
@IvanShymanovich ,
A rough guess would be by next weekend, we will have a first cut to try out. Will add it in feature branch to try it out.

[2019-07-20 17:38] harshalpatel91 commented on #10
Hey, @IvanShymanovich

We have added sync API support for source plugin. The first cut of this is present in using-sync-api branch. We have used deleteNode API for deleting the nodes, I believe your bug should get resolve now.  Can you try out this and help with your feedback.

[2019-07-20 17:41] harshalpatel91 commented on #9
Hey, @andrejpavlovic

We have added sync API support for source plugin. The first cut of this is present in using-sync-api branch. I believe your bug should get resolved now. Can you try this out and help with your feedback.

[2019-07-30 16:04] andrejpavlovic opened #12 "sync api - needs better error handling"
There needs to be better error handling here:
https://github.com/contentstack/gatsby-source-contentstack/blob/cb5cabc51644bb9526cea6b1067ebae8520d4bca/src/fetch.js#L75-L77

The `data` object could be an error message like this:
[code]

Instead of throwing an error or something similar, I get `TypeError: Cannot read property 'reduce' of undefined` because the code proceeds as if the return was succ

[2019-07-30 16:08] andrejpavlovic opened #13 "sync api - access_token renamed to delivery_token - please add deprication warning"
I'm not sure why configuration option `access_token` was renamed to `delivery_token`, it breaks compatibility with the master branch. There should at least be an error or deprication warning to tell someone who is trying out this plugin branch, that `access_token` is no longer supported.

[2019-07-30 16:11] harshalpatel91 commented on #12
Valid point @andrejpavlovic , will add an error handling over there.

[2019-07-30 16:14] harshalpatel91 commented on #13
@andrejpavlovic - In sync api we require delivery tokens, access_token are not worked over there so we added delivery_token in config. Will add an deprication warning for this.

[2019-07-31 01:55] andrejpavlovic opened #14 "sync api - feature request - have the api poll for updates while in development mode"
It would be very useful to have the plugin re-run sync every X seconds when gatsby is running in development mode. Currently, any time changes are made in the CMS, I need to restart my gatsby development server in order to sync the data from the CMS.

[2019-07-31 09:10] harshalpatel91 commented on #14
Sure @andrejpavlovic, will consider this request.

Till then I believe you can use [ENABLE_GATSBY_REFRESH_ENDPOINT](https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables)

[2019-08-15 17:31] andrejpavlovic commented on #12
Thanks, works better now.

[2019-08-15 17:31] #12 closed

[2019-08-15 17:32] andrejpavlovic commented on #13
Thanks for updating the readme.

[2019-08-15 17:32] #13 closed

[2019-08-15 17:33] andrejpavlovic commented on #9
Looks like the using-sync-api branch is working well.

[2019-08-15 17:33] #9 closed

[2019-09-05 15:33] teavirdis opened #15 "This plugin does not support reference value with multiple types"
` ERROR #11321  PLUGIN

"gatsby-source-contentstack" threw an error while running the sourceNodes lifecycle:

Cannot read property 'filter' of undefined

  TypeError: Cannot read property 'filter' of undefined

  - normalize.js:114
    [content-pages]/[gatsby-source-contentstack]/normalize.js:114:43

  - Array.forEach`

after https://www.contentstack.com/docs/guide/content-types/reference-field-up

[2019-09-06 04:13] harshalpatel91 commented on #15
Hey @teavirdis ,

We have a [RC candidate](https://github.com/contentstack/gatsby-source-contentstack/tree/2.0.0-rc.0) which we have push, we will be pushing this live very soon till then you can try the RC build. Try your various cases for this reference field and do let us know if you found any issues or any recommendation for this.

Regards,

[2019-09-06 14:43] IvanShymanovich commented on #10
hey, @harshalpatel91
Sorry for the late reply, I didn't have a time to verify the new version. I've just done that with `"gatsby-source-contentstack": "2.0.1-rc.0"` and it worked well, nodes where removed. Looking forward for release of `v2`. And, I think, the issue can be closed as soon as the new version is released.
Thanks!

[2019-09-11 12:53] harshalpatel91 commented on #15
Hey @teavirdis,

We have release this RC pls update to latest version. Closing this bug.

[2019-09-11 12:53] #15 closed

[2019-09-11 12:55] harshalpatel91 commented on #10
Thanks @IvanShymanovich ,

We have release the RC build, pls update to latest version. Closing this bug

[2019-09-11 12:55] #10 closed

[2019-09-20 11:23] andrejpavlovic opened #19 "Image asset - width and height not available"
There is no width and height available for images. Is there a way to add that to graphql without having to download all the images and manually check the size?

[2019-09-23 05:18] harshalpatel91 commented on #19
Hi @andrejpavlovic,

Currently, I believe their is no way to add width & height without downloading in source plugin. But I will connect with gatsby team for this if they have provision to add this in source plugin. Till then you can add directly append image url in JSX.

Thanks

[2019-09-23 17:26] andrejpavlovic commented on #19
I did some more digging around, and it looks like it is possible to get the dimensions from the [assets api endpoint](https://www.contentstack.com/docs/apis/content-delivery-api/#get-a-single-asset) without downloading the image. Is this data not included in the sync API?

[2019-09-24 04:56] harshalpatel91 commented on #19
Hi @andrejpavlovic ,

Let me connect with the api team for this and will see if we can add this in query params of Sync API

[2019-10-02 16:04] andrejpavlovic commented on #19
Any news on this?

[2019-10-03 05:10] harshalpatel91 commented on #19
Hi @andrejpavlovic,

Currently, It's not suppport in sync api.

I have raised the enhancement for this on sync api call. It will be added in Sync api. Will update you here once we get ETA for this. Thanks!

[2019-10-07 06:46] MarcoDaniels opened #20 "Reference field - always returns array"
If we define a reference field as **not** multiple it always returns an array.

Shouldn't it check if the field is multiple and return object instead?

[2019-10-07 06:57] harshalpatel91 commented on #20
Hi @MarcoDaniels,

From API reference field always returns in array only, irrespective of single or multiple.

[2019-10-07 07:10] harshalpatel91 commented on #20
Hey @MarcoDaniels,

Closing the Issue, reopen if you have any other question or issue releated to reference field.

[2019-10-07 10:16] #20 closed

[2019-10-21 13:20] andrejpavlovic commented on #19
Hey @harshalpatel91, any ETA updates on this?

[2019-10-22 07:45] harshalpatel91 commented on #19
Hey @andrejpavlovic,

I will follow up with the team to get the ETA.

[2019-11-01 14:43] andrejpavlovic commented on #19
So we've added logic to fetch the dimension info whenever a new asset entry is synced into gatsby by making a request to the single asset api endpoint, but it's relatively slow and often triggers timeouts if a large number of assets is being synced at once across the 20 locales that we support. Any progress with your team on this?

[2019-11-02 02:21] harshalpatel91 commented on #19
Hi @andrejpavlovic,

I had a discussion with the API team and we are convinced that this support should be provided as soon as possible in Sync API. We will have an ETA very soon on this.

[2019-11-25 16:22] MarcoDaniels opened #22 "Markdown field to HTML"
Would it be possible to expand the markdown field from contentstack and get the data as HTML?

[2019-11-26 05:08] harshalpatel91 commented on #22
Thanks @MarcoDaniels,

For bringing this request, we will evaluate this...  It will be an interesting functionality to transfer markdown field to HTML while resolving the node for gatsby.

[2019-11-26 08:13] MarcoDaniels commented on #22
Hey @harshalpatel91, I opened a pull request with the code to transform markdown to html here: https://github.com/contentstack/gatsby-source-contentstack/pull/23

[2019-11-26 09:04] harshalpatel91 commented on #22
Hi @MarcoDaniels,

I will put forward this changes to the whole team, since their will be a breaking change for markdown field response.

[2019-11-26 09:56] MarcoDaniels commented on #22
I'm thinking that we could also create a new field if it is markdown and transform that new field into HTML and keep the original field as markdown, that way it would not have any breaking changes.

[2019-11-27 03:38] harshalpatel91 commented on #22
Hi @MarcoDaniels,

let me connect with the whole team on this and will update you here.

[2019-11-29 09:00] szimek opened #24 "Increase speed of fetching step"
Hi! We've got ~5000 entries and ~13000 assets in one stack at the moment and fetching all this data takes a while... It looks like the requests to sync all this data are paginated and done sequentially.

Is it possible to increase the `limit` option e.g. from 100 to 1000? I couldn't find in the documentation what the maximum value for `limit` option is.

Or maybe it it would be possible to make th

[2019-11-29 09:46] harshalpatel91 commented on #24
Hi @szimek,

Let me check with the API team for increasing the limit and also we can consider the parallel request in sync by type. Will connect with team for this and will get back to you.

[2019-12-09 07:12] MarcoDaniels opened #25 "Mark GraphQL field as NonNullable when is Mandatory in Contentstack"
Having the GraphQL field as non null when the field is marked as mandatory in contentstack would be a great help when using Typescript.

[2019-12-09 07:22] harshalpatel91 commented on #25
Hi @MarcoDaniels ,

I'm tagging this in our enhancement request. Thanks for bringing this up

[2019-12-20 12:13] szimek commented on #24
@harshalpatel91 Hi! Any updates on this?

[2019-12-20 13:01] harshalpatel91 commented on #24
Hi @szimek,

We have checked from API team, but currently we don't have any way to increase the limit. So will have to evaluate other ways to handle this by parallel request.

[2020-01-15 10:31] stefanhar opened #26 "Use the ability to customize the graphQL schema"
We are having problems with fields not being defined when newly created and nested data structures seem to become undefined when empty.
This is propaply due to gatsby inferring the GraphQL schema.

It would be optimal if the plugin generated schema via the [custom schema generation](https://www.gatsbyjs.org/docs/schema-generation/) in gatsby.
Inserting exported content types into the plugin could

[2020-01-16 06:30] harshalpatel91 commented on #26
Hi @stefanhar,

Thanks for your suggestion. This is really helpful.

In our current implementation, the schema is generated by Gatsby, so the structure might have empty nested objects. Adding schema based on content types would be a great way to handle this. Thanks again for suggesting this. We will certainly consider implementing this.

I really like your approach and appreciate you bringing this

[2020-01-22 05:43] jdesherlia commented on #26
We have this exact same issue, and it is currently causing us an immense amount of problems. Any content type that is a single entry type cannot have optional fields, and any content type that has a field group has to have data in that group in all entries, otherwise Gatsby detects a type mismatch and prunes the data from the GraphQL schema.

[2020-02-07 09:13] Steveeeie commented on #22
We require markdown raw, so please support both if this is required

[2020-02-07 17:01] andrejpavlovic commented on #26
We've actually hook into the createSchemaCustomization API and generate the full GraphQL schema directly from the conten_types and global_fields export. It definitely required a decent chunk of effort and that's for just a barebones untested solution. It was the only way we could get reliable strong typing to work with Typescript.

[2020-02-07 17:03] andrejpavlovic commented on #25
This is really a dupe of #26

[2020-02-08 07:56] harshalpatel91 commented on #22
Hi @Steveeeie ,

Yes, we would not break the existing response will try to add a new field for markdown transformation if required.

Thanks

[2020-02-08 14:44] harshalpatel91 commented on #26
Hi @andrejpavlovic,

I would love to see your solution on createSchemaCustomization API, We are also trying to use the same to give the full GraphQL schema on content-types. Any fork branch where we can see your implementation.

Thanks!

[2020-02-08 14:51] jdesherlia commented on #26
@harshalpatel91 one thing I have been wondering about is how you are going to build this to also support custom extensions. We have a pretty heavy reliance on custom extensions that store data as json, for every content type. ContentStack doesn't know what the underlying structure of those is beyond being json objects.

The way I see it, you would either need to give us some way to provide that in

[2020-02-13 14:26] MarcoDaniels commented on #22
I'm going to close the issue and PR as we will not longer need the transformation in the plugin. It will happen in the client instead.

[2020-02-13 14:26] #22 closed

[2020-02-21 04:03] harshalpatel91 commented on #26
Yes, @jdesherlia for custom fields will try to skip and will let Gatsby infer those types for unknowns schema.  We can also evaluate of giving a way to provide the intended schema for the custom fields.

[2020-03-07 08:44] jbertel2 commented on #26
+ 1 for this request to generate GraphQl schema from content types

[2020-03-07 08:50] jbertel2 opened #28 "Improve Gatsby Preview support by allowing to pull unpublished latest versions"
Currently, Gatsby Preview can only preview content that is published, because this Gatsby plugin uses the delivery token to fetch entries from the delivery API. This typically results in the addition of a specific 'preview' environment in ContentStack to allow previews before publishing to a higher environment.

I believe it would be a better user experience for content editors, if they could prev

[2020-03-11 10:10] harshalpatel91 commented on #28
Hi @jbertel2 ,

In our current implementation, we are using sync api to fetch the published data which uses delivery tokens. In sync api we don't get draft data and fetching those through delivery API would be slow as compare to sync one. For now like you mentioned we can do this by 'preview' kind of env. Will still look if this can be supported in sync api to get latest data.

Request you to plea

[2020-03-26 05:02] ninadhatkar commented on #19
Hello @andrejpavlovic ,

Sorry to keep this in waiting for a long.

The API team has resolved this. You should now get the height width parameter in objects.

Please verify and let us know.

[2020-04-17 19:08] jdesherlia commented on #26
@harshalpatel91 any update on this? We are keen to test out a proposed solution. I think it would be a huge difference maker for ContentStack + Gatsby.

[2020-04-24 06:05] ninadhatkar commented on #26
Hi @jdesherlia ,

We are in the process of adding this to the plugin. Please refer the PR here:
https://github.com/contentstack/gatsby-source-contentstack/pull/30

@jacobimpson @jbertel2 @andrejpavlovic @stefanhar
If possible can you guys have look at it and provide feedback will be helpful. We have added one config key which allows you to switch between previous behavior and custom schema definat

[2020-04-30 05:24] ninadhatkar commented on #26
Thanks @stefanhar, for reviewing the PR and having valuable feedback.

We will be merging this PR by EOD today. If anyone still has any feedback regarding https://github.com/contentstack/gatsby-source-contentstack/pull/30 PR please share with us.

[2020-04-30 11:58] asmit-patil commented on #26
Hi @jacobimpson @jbertel2 @andrejpavlovic @stefanhar,
We have fixed this issue in version [2.2.0](https://github.com/contentstack/gatsby-source-contentstack/tree/2.2.0)

Closing the Issue, reopen if you have any other question or issue releated to reference field.

[2020-04-30 11:58] #26 closed

[2020-04-30 11:59] asmit-patil commented on #25
Hi  @andrejpavlovic @MarcoDaniels ,
We have fixed this issue in version [2.2.0](https://github.com/contentstack/gatsby-source-contentstack/tree/2.2.0)

Closing the Issue, reopen if you have any other question or issue releated to reference field.

[2020-04-30 11:59] #25 closed

[2020-05-11 15:40] art0rz opened #34 "elemMatch not working on this query"
`elemMatch` is not filtering. It returns all items in the list, and ignoring the condition.

[code]

Query variables:
[code]

Result:
[code]

[2020-05-11 21:27] art0rz commented on #34
Issue is actually with sift https://github.com/crcn/sift.js

[2020-05-11 21:27] #34 closed

[2020-05-21 14:30] szimek commented on #24
Hi! Any updates on this?

As we add more content to our stack, it takes now even longer to fetch it all.

Fetching step takes ~13 minutes when I run `gatsby build` command locally on my laptop:
[code]
and ~8 minutes on our Jenkins (AWS):
[code]

[2020-05-22 05:12] asmit-patil commented on #24
Hi @szimek ,

we have fixed this by syncing the assets, entries and content types parallelly while the build process in the v2.1.0. Refer the [config options](https://github.com/contentstack/gatsby-source-contentstack#how-to-use). You have to set the expediteBuild to true while running the gatsby build command.

Please use this and let us know with your feedback.

Thanks.

[2020-07-30 05:57] jbertel2 opened #41 "Reference field returns incorrect null value in grapql query"
Using v.2.2.5, when i enable schema generation, 1 of our reference fields (named "related_to") on a certain entry has a null value, despite the same entry having a value when fetched through the delivery API.

delivery API response:
[code]

graphql query:
[code]
graphql query response:
`"related_to": null`

Things i have tried:
- disable schema generation: the graphql query (slightly adapted) work

[2020-07-30 16:37] ninadhatkar commented on #41
Hi @jbertel2

We are looking into it. Will keep you posted.

Thanks,
Ninad Hatkar

[2020-07-31 11:10] jbertel2 opened #42 "Generated schema is missing locale field"
We have a graphql query in our gatsby site that queries a content type that may or may not have entries in ContentStack.
We rely on the enableSchemaGeneration feature to make sure the GraphQl schema exists, even when no entries exist. This is a great step in the right direction to solve this issue.

However, our query expects the locale field to be present in the schema. When the schema is inferre

[2020-08-01 06:08] jbertel2 commented on #42
I realized after solving the missing locale field that the same applies for uid, publish details, tags and probably others...

[2020-08-07 11:17] jbertel2 commented on #41
I have tested the v2.2.6 release which is addressing this issue. It solves the reported issue IF there are entries that refer to all types of the union.

It introduces new issues in the case where there is no content entry that holds values for all types of the union.
e.g. if the reference field can refer to 3 types, but the content entries only ever refer to 1 of those types, then the graphql typ

[2020-08-11 20:22] szimek commented on #24
Hi @asmit-patil !

The builds got faster now, e.g. on my laptop the fetching step takes now about 7 minutes, compared to 13 minutes I mentioned before. It's still rather slow though, especially when developing the app, as Gatsby will often remove the cache, e.g. when updating its configuration.

We've just enabled Gatsby Preview (free plan for now just to try it out) in our Contentstack and after

[2020-08-16 14:35] szimek opened #47 "Allow to specify content types and locales to sync"
Hi!

We've got many content types in our stack, but we use just a few of them in our Gatsby app. It would be great if it was possible to specify which content types should be synced to avoid downloading unnecessary content and created GraphQL schema and nodes for those as well. I understand that this might be not trivial to implement, as Sync API doesn't allow to pass multiple content types, so on

[2020-08-24 11:40] jbertel2 commented on #42
with the merge of PR #43 , i consider this issue closed

[2020-08-24 11:40] #42 closed

[2020-08-24 11:42] jbertel2 commented on #41
I can confirm that #45 resolved all these issues.

[2020-08-24 11:42] #41 closed

[2020-08-31 10:09] psykzz opened #53 "Sync fails for content types with a `-` in the name"
I have a test stack with a content type of `some-item` and a few entries.
When trying to build the site it triggers the following error.
[code]

Renaming the content type to `someitem` fixes the issue and allows me to continue.

[2020-09-08 17:31] niranjanbala opened #56 "When i configure multiple stacks i get this error."
ERROR #11321  PLUGIN

"gatsby-source-contentstack" threw an error while running the sourceNodes lifecycle:

Cannot read property 'schema' of undefined

[2020-09-09 09:11] richardpj opened #57 "Gatsby Source Locale Errors"
Hi there

When I run ```yarn build``` I get the following output:

[code]

I have a stack with a single default locale. Could this be the problem? It seems the schema of the objects returned is slightly different to what the plugin is expecting. I can fix this easily (I have monkeypatched it in my project) and will send a PR to fix it. I would like some feedback on the source of the error and If I

[2020-09-10 05:08] jbertel2 opened #58 "Support for gatsby-plugin-sharp coming soon?"
Readme.md has had the notice that this support is coming soon for quite a while. Is there any news on that front?

[2020-09-10 17:19] mattbanks commented on #57
I'm running into the same issue locally with a stack I'm working on. Can you share what you monkey patched to get it working?

[2020-09-10 18:12] ninadhatkar commented on #56
@niranjanbala Thanks for reporting this issue. We are able to reproduce and found the cause of it. We are working on getting this resolved, will keep you posted.

[2020-09-11 06:22] vkalta commented on #57
@mattbanks would like more information in order to reproduce this at my end.
Would like to know few details like api key and environment details. You can mail them to me @ vikram.kalta@contentstack.com.
Cheers!

[2020-09-11 07:06] richardpj commented on #57
@mattbanks this is the source for my monkeypatch.js file (which I import at the top of gatsby-config.js):

[code]

[2020-09-11 14:44] mattbanks commented on #57
@vkalta emailed you some info!

[2020-09-14 13:44] richardpj opened #60 "If no non-null asset reference has been published for a particular content type - build fails"
Hi there

The type/schema resolution for asset references doesn't seem to work when there is no entry of that type with a non-null reference. This reference is nullable. Why should I publish content just to get the build to succeed?

[code]

Please assist.

[2020-09-14 14:04] richardpj commented on #60
My guess is that there's some sort of dynamic type resolution being done. If there are 0 instances, the type is never resolved correctly. Can the Assets not be statically typed?

[2020-09-15 05:58] vkalta commented on #57
@mattbanks we have identified the issue. For a quick fix, can you try to re-publish assets and entries and try again?

[2020-09-15 07:22] richardpj commented on #57
*Further info* I logged out the entries that were causing this:

[code]

When I search the entries in the Content UI they are full entries containing a lot of other fields. Is this some sort of foreign key resolution?

[2020-09-15 07:59] vkalta commented on #57
@richardpj we are currently working on this. As mentioned earlier, this seems like a random issue.
I would still like to have a look at your stack, if you like to share your api key and access token, you can mail them to me at vikram.kalta@contentstack.com.
Cheers!

[2020-09-15 08:18] richardpj commented on #60
On further investigation I notice that the source uses the old ```'___NODE'``` fk resolution strategy. It might be worth investigating the new ```@link``` schema extension. That might resolve all of the inferred resolver warnings which might in turn also fix this issue.

[2020-09-15 11:05] vkalta commented on #60
@richardpj does this happen when you run gatsby build command?

[2020-09-15 11:08] richardpj commented on #60
Yes. It happens on gatsby build but on a different stack from the other error you were investigating. Would you like the credentials?

[2020-09-15 11:09] vkalta commented on #60
@richardpj yes please. Email id is same as mentioned in #57 .

[2020-09-15 11:14] richardpj commented on #60
FYI the error you get will be slightly different as we were publishing some missing images. Still the same type of error:
[code]

[2020-09-15 13:36] mattbanks commented on #57
Hey @vkalta - we have upwards of 30k entries in this stack across various content types. Do I need to write a script go re-publish every entry in the stack to test this fix?

[2020-09-15 15:58] vkalta commented on #57
@mattbanks For now can you try to re-publish the asset which caused this issue. Details for the asset is:

`{
"uid": "blt84f904b63c03c8d2",
"filename":"LOLLUXSEDC2019001_int.pdf",
"locale": "en-ph"
}`

[2020-09-15 16:05] mattbanks commented on #57
@vkalta I'll work on that. Any chance you can delete that filename since it's not public data?

[2020-09-15 16:07] vkalta commented on #57
@mattbanks sorry about that. Deleted.

[2020-09-15 17:43] mattbanks commented on #57
That got my build working locally! If something like this ever happens, what's the best way to identify which piece of content is having an issue, since it was only 1 asset? How did you find which piece of content it was?

[2020-09-15 20:29] vkalta commented on #57
@mattbanks you will find this snippet in node_modules/gatsby-source-contentstack/normalize.js. You can add logs here to check whats happening.

[2020-09-16 12:57] vkalta commented on #60
@richardpj how did you bring the asset reference to empty string state?

[2020-09-16 13:06] vkalta commented on #60
How did you type asset statically? (Did u use any script to do so)

[2020-09-18 10:45] vkalta commented on #60
@richardpj closing this issue, as this scenario has been handled in the latest patch release.

Cheers!

[2020-09-18 10:45] #60 closed

[2020-09-18 10:46] vkalta commented on #56
@niranjanbala closing this issue, as this scenario has been handled in the latest patch release.

Cheers!

[2020-09-18 10:46] #56 closed

[2020-09-21 07:47] richardpj commented on #60
I have retested using v2.2.11 and this scenarios is resolved. Thanks!

[2020-09-22 07:30] vkalta commented on #57
@richardpj are you still facing this issue?

[2020-09-25 14:50] vkalta commented on #58
@jbertel2 Yes, we are working on it. We will keep you updated.

[2020-09-25 14:52] vkalta commented on #53
@psykzz Hi, sorry for the delayed response. Are you still facing this issue?

[2020-10-13 16:13] AlexKasaku opened #67 "Cannot authenticate using query parameters"
I've setup a new stack and tried the sample project with this plugin, but this results in this error:

[code]

Looking at the [delivery API docs](https://www.contentstack.com/docs/developers/apis/content-delivery-api/#http-headers), the following is stated:

Will this plugin be updated to pass these in as http headers? If not is there a workaround?

[2020-10-13 16:23] cs-ecosystem-dev commented on #67
@AlexKasaku Hello, sorry about the inconvenience caused. This looks like a random issue. To reproduce this issue at our end, we would like you to share some stack related details with us. You can reach me at vikram.kalta@contentstack.com.

[2020-10-13 16:24] vkalta commented on #67
@AlexKasaku Hello, sorry about the inconvenience caused. This looks like a random issue. To reproduce this issue at our end, we would like you to share some stack related details with us. You can reach me at vikram.kalta@contentstack.com.

[2020-10-15 06:19] cs-ecosystem-dev commented on #67
@AlexKasaku closing this issue, as this issue has been handled in the latest patch release.

Cheers!

[2020-10-15 06:20] vkalta commented on #67
@AlexKasaku closing this issue, as this issue has been handled in the latest patch release.

Cheers!

[2020-10-15 06:20] #67 closed

[2020-10-15 10:46] AlexKasaku commented on #67
Thanks @vkalta , I was just about to create a PR this morning with the same fix but beat me to it!

[2020-10-26 06:55] szimek commented on #47
Hi!

If we'd come up with a PR that implements this feature by using multiple sync calls (1 per content type/language), would you be willing to merge it?

The development experience in our case is really bad right now, as it takes ~15 minutes (depends on the laptop) to run `yarn develop` and when one is working on updating the content structure or a new Gatsby plugin, Gatsby deletes the cache afte

[2020-11-02 15:27] imkhan commented on #47
@szimek , thanks for suggesting this enhancement.
We'd definitely review and merge if you send proposed changes in a PR.

[2020-12-03 01:20] visualjeff commented on #58
Any updates?

[2020-12-03 01:22] visualjeff commented on #34
Is this still an issue?  Because it seems like filter isn't behaving as expected.

[2020-12-07 13:42] cs-ecosystem-dev commented on #58
@visualjeff We are currently working on the branch https://github.com/contentstack/gatsby-source-contentstack/tree/download-assets. It's in QA. We will keep you updated.

[2020-12-07 13:44] vkalta commented on #58
@visualjeff We are currently working on the branch https://github.com/contentstack/gatsby-source-contentstack/tree/download-assets. It's in QA. We will keep you updated.

[2020-12-09 17:15] vkalta commented on #57
This has been resolved.

[2020-12-09 17:15] #57 closed

[2020-12-09 17:15] #53 closed

[2020-12-09 17:19] vkalta commented on #24
This has been resolved.

[2020-12-09 17:19] #24 closed

[2020-12-09 17:21] vkalta commented on #19
As there is no response from the user, we can consider this as resolved.

[2020-12-09 17:21] #19 closed

[2020-12-11 10:29] vkalta commented on #58
@jbertel2 @visualjeff We have added support for this. The changes are available in the version 2.3.0.

[2020-12-11 10:29] #58 closed

[2020-12-13 19:10] jbertel2 opened #78 "downloadImages config option in v2.3.0 doesn't support the EU tenant"
The image regexp used in v2.3.0 is 'https://(stag-images|images).contentstack.io/v3/assets/'.

Contentstack EU tenant serves images on e.g. https://eu-images.contentstack.com/v3/assets/blt300490332287c269/blt452c4a196e11d1fc/5f6374142d33bb3d0daeed03/regidter.jpeg

[2020-12-13 19:25] vkalta commented on #78
@jbertel2 Thanks for raising the issue. We will look into it and push a fix as soon as possible.

[2020-12-17 05:47] vkalta commented on #78
@jbertel2 The changes mentioned here has been updated on npm. The changes will be available from version 2.3.1. Thanks for your contribution.

[2020-12-17 05:47] #78 closed

[2020-12-21 03:22] gauravsaini opened #81 "Getting warnings when pageContext is too large"
Similar to this

https://github.com/gatsbyjs/gatsby/issues/14213

Getting warnings while running gatsby develop

Refer https://github.com/gatsbyjs/gatsby/issues/25308 for more

[2020-12-22 10:07] jbertel2 opened #82 "GraphQl errors on downloaded mandatory image fields within modular blocks"
Configured to have both enableSchemaGeneration and downloadImages to be true on version v2.3.1

When using the following query, i get the below error result:

### Query
[code]

### Response
[code]

### Observations

- File fields in other content types (not in a modular block) work fine, but this one not.
- Querying other fields (besides the image File/Asset field ) in the same Image modular block

[2021-03-16 00:45] lucascaro opened #89 "Gatsby 3 support"
[Gatsby 3 is out](https://www.gatsbyjs.com/blog/gatsby-v3/)!

Migration guide:
https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v2-to-v3/

[2021-03-23 05:49] ninadhatkar commented on #89
@lucascaro thanks for notifying this. We have added this to our backlog we will keep you posted on further updates.

[2021-03-30 09:46] jbertel2 commented on #82
This issue is resolved by #83

[2021-03-30 09:46] #82 closed

[2021-03-30 16:18] lucascaro commented on #89
Thank you! It might be as easy as releasing a version which has gatsby 3 as a dependency:
https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v2-to-v3/#for-plugin-maintainers

[2021-03-30 16:26] lucascaro opened #92 "I dea: More persistent cache for content"
Hi there,
While working with this plugin, the gatsby cache gets cleared regularly, especially on development but some times on production as well.

A good example is on development, while changing or adding unrelated plugins, gatsby will clear the cache, and for relatively big stacks, syncing from scratch might take > 15 minutes.

While cache clears are usually needed for different reasons, this i

[2021-03-31 05:36] lucascaro commented on #92
example: https://github.com/lucascaro/gatsby-plugin-persist-cache

[2021-04-01 12:56] ninadhatkar commented on #92
Hi, @lucascaro Thanks for the suggestion and for sharing the idea here. We will review this internally and get back to you.

[2021-04-28 09:39] jbertel2 opened #93 "Npm has a version 2.3.4 published, but no tags or releases present in github"

[2021-04-29 13:47] ninadhatkar commented on #93
Thanks @jbertel2 for raising this. Added the Release.

[2021-04-29 13:47] #93 closed

[2021-05-06 23:37] passion4code commented on #89
@ninadhatkar where does this stand in the backlog? Did you need some community support in testing that it works in both 2 and 3 without additional changes?

[2021-05-07 23:53] lucascaro commented on #89
A problem I have found so far:
[code]

looks like this plugin is using a deprecated invocation of `touchNode` with an ID instead of a node

[2021-05-13 18:05] ninadhatkar commented on #89
@passion4code this is still not scheduled yet. We are currently working on some other backlog items.

It will be helpful if we get community support as well for testing this will cover more scenarios.

@lucascaro thanks for getting this to attention.

Will keep you posted on further updates here.

[2021-05-20 06:32] faisalike opened #94 "Issue load plugin"
i have installed a new app for gatsby and add **gatsby-source-contentstack** after adding this i have added my api key and token.

` plugins: [
    {
      resolve: "gatsby-source-contentstack",
      options: {
        api_key: "my api key",
        delivery_token: "my token",
        environment: "development",
      },
    },
  ]`

but after that when i run "npm run develop" i face this error.

[2021-05-21 09:49] ninadhatkar commented on #94
@faisalike can try again by reinstalling node modules and cleaning the Gatsby cache?

[2021-05-22 05:58] faisalike commented on #94
yes i did try from scratch and worked well.
thanks!

[2021-05-22 05:58] #94 closed

[2021-06-20 16:54] szimek commented on #89
Had anyone else encounter the following error when upgrading to Gatsby 3: `
Error in "/...blog/node_modules/gatsby-source-contentstack/gatsby-node.js": Cannot find module 'babel-runtime/helpers/defineProperty'`
?

Gatsby 3 switched to Babel 7 and Node.js 12+, while this plugin still uses Babel 6 and targets Node.js 4.0+.

[2021-06-22 20:41] szimek opened #96 "With enableSchemaGeneration option enabled unlocalized entries cause null errors for mandatory fields"
I'm looking for ways to optimize our build times (`gatsby develop` takes ~10 minutes...) and wanted to try `enableSchemaGeneration` option.

However, I'm getting the following errors:
[code]

After some investigation, I found out that someone published a few articles in a language that is not supported (used) by our Gatsby app, but is available in our stack. This entries were *not* localized, only

[2021-07-03 16:17] szimek commented on #19
Hi! Has it been actually implemented and released?

I've got a content type with modular blocks and one of these blocks is a block with a file field (with "Allow images only" option set). However, in Gatsby (3.x, haven't checked it in 2.x yet) I'm getting only image title and url.

Should it just work, or is there some option I need to enable?

[2021-07-14 15:09] josephmarkus opened #97 "Unpublished content is expected in Gatsby Cloud unless rebuilt without cache"
Step to reproduce:

1. Unpublish an already published entry
2. Observe Gatsby Cloud failing

[code]

Workaround:
1. Trigger build without cache in Gatsby Cloud

[2021-07-18 17:28] vkaltae9 commented on #96
Hi @szimek, sorry for the inconvenience caused. In order to reproduce this issue at my end I would like to know few details like api key and environment details of the stack which is causing this. You can mail them to me @ vikram.kalta@contentstack.com.
Cheers!

[2021-07-18 17:29] vkalta commented on #96
Hi @szimek, sorry for the inconvenience caused. In order to reproduce this issue at my end I would like to know few details like api key and environment details of the stack which is causing this. You can mail them to me @ vikram.kalta@contentstack.com.
Cheers!

[2021-07-28 12:55] vkalta commented on #97
@jacobimpson Unable to reproduce this. Can you please share the exact steps?

[2021-08-02 09:05] josephmarkus commented on #97
@vkalta I assume the typo in your message :)

Step to reproduce:
1. Publish an entry in Contenstack (e.g. `"/some-page-from-content-stack"`)
2. Run Gatsby Cloud build that will fetch the published entry from Contenstack
3. Now that the entry is published and live go to Contenstack and unpublish the entry
4. Run Gatsby Cloud build
5. Observe an error where unpublished content is expected by Gatsby

[2021-08-02 15:55] vkalta commented on #97
@josephmarkus Sorry about the typo. :). Will try these steps out and get back to you if I will need more details to debug this issue.

Thanks.

[2021-08-02 19:11] vkalta commented on #97
@josephmarkus I am still not able to reproduce this. Gatsby cloud build works fine for the stack I am using.
Can you please share your stack details with me at vikram.kalta@contentstack.com?

Thanks

[2021-08-10 14:27] josephmarkus opened #99 "Warning: there are unknown plugin options for "gatsby-source-contentstack": downloadImages"
Whenever I run `yarn start` I get:

[code]

When I look at the README of this repo, it appears a valid option 🤔

[2021-08-11 14:53] josephmarkus opened #100 "How to query content by locale?"
I can see in the API docs for Contentstack that you can query entries by locale - https://www.contentstack.com/docs/developers/apis/content-delivery-api/#get-all-entries

This doesn't seem to be an option in this Gatsby plugin (?)

How does one achieve the same affect?

[2021-08-18 10:36] josephmarkus commented on #100
Here's the answer:

1) The plugin will pull ALL locales
2) Locale specific content can then be filtered via GraphQL layer like so:

[code]

[2021-08-18 10:36] #100 closed

[2021-08-24 15:07] josephmarkus commented on #99
My understanding is that `downloadImages` should be included in this validation check:

https://github.com/contentstack/gatsby-source-contentstack/blob/develop/src/gatsby-node.js#L420-L430

[2021-08-25 16:05] kramerkm commented on #97
We're running into a similar issue, except we're using incremental builds with CircleCI. Whenever we unpublish an entry in Contentstack and run a build, it builds successfully but the page itself still exists on our website even though it was unpublished.

[2021-08-25 16:26] vkalta commented on #99
@josephmarkus Sorry for the inconvenience caused. Will check this and update you asap. :)

[2021-08-25 16:33] vkalta commented on #97
@kramerkm Can you provide more details to reproduce this? And also if possible can you email me your stack details at vikram.kalta@contentstack.com?

Thanks

[2021-09-08 11:08] vkalta commented on #99
@josephmarkus This issue has been fixed on version 3.0.0.

Thanks.

[2021-09-08 11:08] #99 closed

[2021-09-13 14:23] jbertel2 commented on #96
@szimek  I have encountered similar issues in the past, which is why i partly decided to contribute the disableMandatoryFields option: https://github.com/contentstack/gatsby-source-contentstack/pull/86

It is quite drastic as it will make all mandatory fields in the CMS optional in the graphQl schema.

[2021-09-15 05:43] #89 closed

[2021-09-15 05:47] #96 closed

[2021-10-04 05:44] #28 closed

[2021-10-04 05:51] #81 closed

[2021-10-04 06:00] vkalta commented on #92
@lucascaro I think this plugin can be used as an independent plugin as it is focussed on gatsby's caching related issue. Thanks for your suggestion.

[2021-10-04 06:00] #92 closed

[2021-10-04 11:49] vkalta commented on #97
@josephmarkus We have released v3.0.1 with this fix.

Thanks.

[2021-10-04 11:49] #97 closed

[2021-10-05 00:43] lucascaro commented on #92
@vkalta sadly since this plugin uses the redux store directly a plugin like my example can't really intercept and fix this issue, the gatsby-source-contentstack plugin would need to allow for such measures by maintaining some sort of cache in the filesystem under .cache in order for other plugins to be able to help I think.

[2021-10-05 05:26] vkalta commented on #92
@lucascaro Thanks for the suggestion. We will discuss this internally and revert.

[2021-10-28 17:43] visualjeff opened #111 "Lots of warnings when installing plugin with Gatsby 4.0.X"
**npm i gatsby-source-contentstack**
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: gatsby-source-filesystem@3.14.0
npm WARN Found: gatsby@4.0.1
npm WARN node_modules/gatsby
npm WARN   peer gatsby@"^4.0.0-next" from babel-plugin-remove-graphql-queries@4.0.0
npm WARN   node_modules/babel-plugin-remove-graphql-queries
npm WARN     babel-plugin-remove-graphql-queries@"^4.0.0"

[2021-10-28 18:09] #111 closed, assigned to nobody

[2021-11-04 12:40] psykzz opened #113 "Remove built code from repository"
Would we be willing to change the way we build / release this plugin to avoid committing built objects to the repository?
We could avoid this by improving the publish process to include a build step beforehand.

For the build process, I have another issue #114 where i proposed how we could build the project going forward.

If however we don't want to take that approach, we could still remove the b

[2021-11-04 12:42] psykzz opened #114 "Use github actions to publish to npm"
Just wanted to throw a suggestion to publish new version of the app via github actions.

This could help elevate the issue raised in #113, but also reduce the burden on maintainers to run the release process.

An example workflow could be something like

[code]

If we wanted to go with this approach, we'd just need a maintainer to add the NPM token into the repo secrets.
I can attach a PR for the

[2021-11-07 10:21] vkalta commented on #114
@psykzz Thanks for the suggestion. We are currently using GoCD to automate the publishing process, and the code for that is maintained outside of this project.

[2021-11-07 10:21] #114 closed

[2021-11-07 10:25] vkalta commented on #113
@psykzz Thanks for the suggestion once again. We will look into this ASAP.

[2021-11-09 11:41] vkalta commented on #47
@szimek We have added support to specify content-types and locales to sync data. Thanks again for the suggestion.

Cheers!

[2021-11-09 11:41] #47 closed

[2021-11-09 14:04] szimek commented on #47
@vkalta Thank you so much!

[2021-12-14 11:36] psykzz opened #117 "Gatsby-4: Changing environment throws an error when sourcing"
Once setup, if you change environment (but keeping the same key) you will get the following error.
[code]

Looks like we just need to include the environment + api_key in the cache key.

[2021-12-14 12:08] vkalta commented on #117
@psykzz Thanks for reporting this issue. I will check and get back to you asap.

[2021-12-14 12:47] psykzz opened #118 "Gatsby 4 support warning"
`warn Plugin gatsby-source-contentstack is not compatible with your gatsby version 4.3.0 - It requires gatsby@^3.0.0`

The plugin however does work fine for gatsby 4, outside of #117 (so far).

[2021-12-14 16:46] psykzz opened #119 "Add option for includeFallback"
Is it possible to add an option to pull the fallback entry if the entry is not published in a specific language?

[2021-12-14 16:55] vkalta commented on #119
@psykzz Thanks for the suggestion. We will definitely review this internally and keep you updated. :)

[2022-01-10 16:14] josephmarkus opened #121 "Gatsby v4: Cannot query field "localAsset" on type "Contentstack_assets""
Actual error:

[code]

Example GraphQL query:

[code]

This is running `gatsby-source-contentstack` with `downloadImages` set to `true`, which is what enables `localAsset` to be available via GraphQL

Is this a known issue? Any ETA on the fix?

[2022-01-10 18:22] vkalta commented on #121
@josephmarkus Sorry for the inconvenience caused. Can you help me with the version of the source plugin that you are using? And no this isn't a known issue.

[2022-01-10 18:24] vkalta commented on #121
@josephmarkus My guess is in gatsby v4, the nodes are not allowed to mutate after createNode call, so most probably that is why localAsset field stays undefined.
We are planning v4 release later this week. So this will be resolved.

[2022-01-11 09:28] josephmarkus commented on #121
@vkalta thanks for getting back to me

✅ Things work well in:
[code]

❌ Things break in:
[code]

[2022-01-14 10:16] josephmarkus commented on #121
@vkalta I can see [gatsby-source-contentstack@3.1.1](https://github.com/contentstack/gatsby-source-contentstack/releases/tag/3.1.1) has been released. I tested this locally and the above errors for missing `localAsset` are still present.

I have also checked through GraphiQL

<img width="186" alt="Screenshot 2022-01-14 at 10 16 00" src="https://user-images.githubusercontent.com/9258365/149499175-3

[2022-01-14 11:24] vkalta commented on #121
@josephmarkus We have released support for gatsby v4 in the latest version 4.0.0. This issue should be fixed with this release. Please check and confirm. :)

[2022-01-14 11:27] vkalta commented on #118
@psykzz We have released version 4.0.0 with support for gatsby v4. This warning should no longer exist. Please check and confirm. :)

[2022-01-14 11:30] vkalta commented on #117
@psykzz Can you share the steps to reproduce this issue?

[2022-01-14 15:46] psykzz opened #127 "Gatsby plugin image required"
With PR #123 (https://github.com/contentstack/gatsby-source-contentstack/pull/123/files#diff-6d7a97f0e776f3de4a5359346231cd4ce6b76c437f8a414cecf918f23dfe9e62R45-R49) there is a new requirement for users to install additional plugins, even if they were not using those features.
This change was published as a patch version 3.1.1.

While i really appreciate the support to add these new features, havi

[2022-01-14 15:55] psykzz commented on #117
- Setup a contentstack stack with two environments, A + B.
- Setup a Gatsby site building data from stack B.
- Change the access_token and environement from A -> B.

- Observe the issue

[2022-01-14 15:56] psykzz commented on #118
All good! Thanks for version 4! 🥳

[2022-01-14 15:56] #118 closed

[2022-01-17 15:58] vkalta commented on #127
@psykzz That's a brilliant suggestion. We will address this ASAP. Thanks.

[2022-01-17 16:01] vkalta commented on #117
Thanks @psykzz for sharing the steps. Will check this ASAP.

[2022-01-27 12:53] psykzz opened #130 "feature request: Option to flattern single item references"
Regardless of if a reference is marked single / multiple, when querying the data in gatsby you will always get an array.

I would like to propose an option to flatten single item references, or if possible be smart and detect if the value was defined as a multiple and only then flatten the array.

Right now im required to do this either via deconstruction or just standard mutation and creates quit

[2022-01-28 05:41] vkalta commented on #130
@psykzz Thanks for the suggestion. I will discuss this with the team internally and revert.

[2022-02-01 13:56] vkalta commented on #121
Closing this ticket due to no activity. Feel free to re-open if the issue still persists. :)

[2022-02-01 13:56] #121 closed

[2022-02-01 13:57] vkalta commented on #127
@psykzz We have fixed this issue with release of v3.1.2. Please check and confirm.

[2022-02-09 16:20] josephmarkus opened #138 "Contentstack returns invalid HTML syntax for lists"
In Contentstack's JSON RTE I can create an ordered/unordered list. This list is then returned via GraphQL as follows:

[code]

This will result in the following output:

[code]

The above output does not adhere to the semantic HTML

The permitted content of `<ul>` are the following tags: `<li>`, `<script>` and `<template>` as described here: https://developer.mozilla.org/en-US/docs/Web/HTML/Elemen

[2022-02-17 15:58] vkalta commented on #138
@josephmarkus Brilliant suggestion and finding here. Sorry for the late reply, I somehow missed the notification. I will definitely check with the team and revert.
Thanks

[2022-02-21 06:07] iyerrama29 opened #140 "Unpublished asset references break gatsby builds"
**Issue type**: showstopper

**Issue**: Unpublished asset breaks builds

**Issue-root-cause**:
https://github.com/contentstack/gatsby-source-contentstack/blob/00ba5b4001ecde0faee11d025b3397a0ac8ff4b7/src/normalize.js#L130

- `{}` is returned, when the value is `null`
- The GraphQL schema definition expects either a `null` OR an `asset` type
- The buids break since `{}` does not comply with neither

[2022-02-25 13:42] vkalta commented on #140
@iyerrama29 We have released this fix in version 3.1.4. Thanks for your contribution. :)

[2022-02-25 13:42] #140 closed

[2022-03-25 18:15] emilyfoxmusic commented on #127
I think I'm having the same/a related issue with v4.0.1.

When I run npm start I get:
[code]

I added `gatsby-plugin-image` to my dependencies and `gatsby-config.js` and the error disappeared.

So I don't think the dependency has been properly removed yet?

[2022-03-28 05:38] vkalta commented on #127
@emilyfoxmusic Let me check and get back to you.

[2022-03-28 05:57] vkalta commented on #127
@emilyfoxmusic I just re-checked this with version 4.0.1 and 4.0.2. I did not encounter this issue. Can you please share more details in order to reproduce this?

Thanks

[2022-03-28 09:00] emilyfoxmusic commented on #127
@vkalta ah interesting, thanks for checking. I will try and collect more info tomorrow when I'm back at my laptop then. I think I did also notice that in v4.0.1 gatsby-plugin-image was still listed as a peer dependency in the package lock? But I will check everything tomorrow and see if I can get some reproducible results, and dig a bit more in case it's related to another change I made. Much appr

[2022-03-29 14:14] emilyfoxmusic commented on #127
@vkalta I just gave this another look and I can confirm that when I remove gatsby-source-contentstack it will build correctly (albeit fail at runtime as would be expected!), so it does seem it it this package causing the issue? Also, I note that [gatsby-plugin-image is definitely listed as a peer dependency](https://github.com/contentstack/gatsby-source-contentstack/blob/4.0.1/package.json) - is t

[2022-03-29 15:30] vkalta commented on #127
@emilyfoxmusic Which OS are you using?

[2022-03-30 08:30] emilyfoxmusic commented on #127
@vkalta Windows 10

[2022-03-30 15:37] vkalta commented on #127
Thanks @emilyfoxmusic. We are checking this issue on windows 10, and will get back to you asap.

[2022-04-26 14:17] MikeyTeal23 opened #144 "Float values in number fields cause queries to error"
When querying ContentStack number fields contain float values, the query errors with a type error - for example:

`TypeError: Int cannot represent non-integer value: 99.99, at GraphQLScalarType.serializeInt [as serialize]`

It looks like this is due to the number field being queried using `Int` rather than `Float` (see `/src/normalize.js`, lines 312-327) - is there a reason that the query uses `In

[2022-04-27 11:39] abhishek305 commented on #144
Hi @MikeyTeal23
Thanks for pointing out this issue. We will definitely review this internally and keep you updated.

[2022-04-27 13:25] jbertel2 opened #145 "Can you please bump the Gatsby peer dependency to v4 ?"
https://github.com/contentstack/gatsby-source-contentstack/blob/5c0d5b3687a583f92887633bdc1acb036b1165c8/package.json#L60

It will avoid warnings like this:

`warn Plugin gatsby-source-contentstack is not compatible with your gatsby version 4.10.3 - It requires gatsby@^3.0.0`

[2022-04-27 14:54] abhishek305 commented on #145
@jbertel2 We have addressed this in the next release of the source plugin which will be out soon.
Thanks for the input.

[2022-04-27 14:54] #145 closed

[2022-05-09 19:33] adotterer opened #146 "Stuck with old published data"
We have defined new content types we are including in our Gatsby site.

![content_types_10](https://user-images.githubusercontent.com/22241734/167482465-6d5623f9-7195-4883-97c5-3f90aad94a1d.png)

We defined 10 content types in Content Stack, but the Graphql explorer continues to only show the 7 old ones. I even deleted an old copy, and it continues to show that one. This started being issue sudden

[2022-05-10 05:58] abhishek305 commented on #146
Hi @adotterer,

Thanks for raising your concern
We'll try to reproduce this on our end and get back to you.
We would like to know few details:

- gatsby-source-contentstack version
- gatsby version
- node version
- OS

[2022-05-10 14:35] mmmpop commented on #144
Is there an update on this issue? The Contentstack Gatsby plugin is a critical part of our front-end architecture and this is a blocking issue for us.

[2022-05-10 21:56] adotterer commented on #146
Thanks so much for the reply:

gatsby-source-contentstack version - 4.0.0
gatsby version - 4.5.4
node version - 16.13.2
OS - MacOS Monterey v12.3 & MacOS Mojave (10.14.6)

[2022-05-17 04:22] littlefengers opened #147 "Getting access denied with stack and delivery token for azure-na-api.contentstack.com"
Hello,

I'm trying to connect to our stack with the plugin, but getting "Cannot access Contentstack with ...." error

The host address is: azure-na-api.contentstack.com, I've tried using that for the CDN property in the gatsby config, but still getting same error.

Is #143 supposed to fix that issue? When will there be a release?

[2022-05-17 05:44] abhishek305 commented on #147
Hi @littlefengers,
I tried to reproduce it on my end & it's working fine.
Could you share your **gatsby-config.js**?

In the **gatsby config.js**, we have an option for cdn URL below is an example:
Could you please try the below example

[code]

This [#143](https://github.com/contentstack/gatsby-source-contentstack/pull/143) will be released soon and is not related to the issue you are facing.

Th

[2022-05-17 13:22] abhishek305 commented on #146
Hi @adotterer,
Quick update

We tried to reproduce the issue as mentioned above with the given config details and were unable to reproduce the issue.
Below are details:

Initially, we had 5 content types:
**count**: **5**
![Screenshot from 2022-05-17 17-42-18](https://user-images.githubusercontent.com/29656920/168816805-92f62c1a-be67-4c8c-9cb9-1e2236c23594.png)

Then we created a few content types

[2022-05-17 13:51] #147 closed

[2022-05-23 06:45] abhishek305 commented on #146
Hi @adotterer,

Could you please provide the stack access mail me the details here: abhishek.ezhava@contentstack.com

Thanks
Abhishek

[2022-05-25 14:36] abhishek305 commented on #144
Hi @mmmpop @MikeyTeal23 ,

We have fixed this issue in gatsby-source-contentstack v4.0.2. Please upgrade to version 4.0.2.
https://www.npmjs.com/package/gatsby-source-contentstack

Thank you for your feedback & suggestions.

[2022-06-15 19:34] littlefengers opened #150 ""The gatsby-source-contentstack plugin has generated no Gatsby nodes""
I'm getting "The gatsby-source-contentstack plugin has generated no Gatsby nodes. Do you need it? This could also suggest the
plugin is misconfigured."

There are no errors connecting to the stack (cdn: https://azure-na-cdn.contentstack.com/v3) using the plugin, but nothing is showing in the graphql explorer.

I can use fetch and it is returning the correct data.

[2022-06-16 06:56] abhishek305 commented on #150
Hi @littlefengers,

Thanks for raising your concern, would you please share/explain more about what you are trying to achieve & details regarding how you are setting up the following things:

- gatsby config
- error message
- source plugin version & gatsby version
- Graphql explorer screenshot (if possible)

[2022-06-17 16:23] littlefengers commented on #150
Hey, if you have access, there's a support ticket: #00020186

[2022-07-19 17:20] yasirhaleem opened #155 "warn Warning: there are unknown plugin options for "gatsby-source-contentstack": locales"
warn Warning: there are unknown plugin options for "gatsby-source-contentstack": locales

i'm gettting all the languages content

[2022-07-25 10:38] abhishek305 commented on #155
Hi @yasirhaleem,

Thanks for raising your concern could you please elaborate more on this and what you are trying to achieve.

[2022-07-25 22:53] zachkirkrey commented on #155
Hi @abhishek305

`// In your gatsby-config.js
plugins: [
  {
    resolve: `gatsby-source-contentstack`,
    options: {
      // Required: API Key is a unique key assigned to each stack.
      api_key: `api_key`,

      // Required: Delivery Token is a read-only credential.
      delivery_token: `delivery_token`,

      // Required: Environment where you published your data.
      environment: `env

[2022-07-25 23:01] yasirhaleem commented on #155
Hi @abhishek305

i have content in multiple languages, but want to only get `en-us` content, if i use parameter as per documentation
[code]
i still get all languages content.

[2022-07-26 08:44] abhishek305 commented on #155
Hi @yasirhaleem,

Could you please share the following details:

- gatsby-source-contentstack version
- gatsby version
- gatsby config option's for contentstack source plugin
- If possible would require stack access to reproduce this error email: abhishek.ezhava@contentstack.com

Thanks !!
Abhishek

[2022-07-27 02:34] visualjeff commented on #150
Still broken.  Plug fails but the same request using cURL works perfectly fine.

[code]

[2022-07-27 03:19] visualjeff commented on #150
Ive made some progress.  I'm able to load content types but not able to pull any data.

[code]

[2022-07-27 11:59] abhishek305 commented on #150
Hi @visualjeff @littlefengers,

Sorry for the inconvenience.

The team is checking this internally as this is an issue with Content Delivery API and not from the source plugin.
As gatsby source plugin is dependent on CDA services to fetch the data & create appropriate nodes which is why this issue surfaced.

Someone from the CSE team will get back to you with the registered support ticket: #000201

[2022-07-28 17:47] visualjeff commented on #150
ContentStack has acknowledged the issue and hopes to have it resolved soon.

[2022-08-02 08:11] abhishek305 commented on #150
Hi @visualjeff @littlefengers,

The Team has resolved the issue from CDA's end and I have verified the data getting pulled in via the source plugin.

Thanks !!

[2022-08-02 08:11] #150 closed

[2022-08-02 19:52] visualjeff commented on #150
Confirmed.

Thank you.

[2022-08-15 14:29] psykzz commented on #117
Any updates on this issue? @vkalta

[2022-08-15 15:51] vkalta commented on #117
@abhishek305 Can you please check this and update @psykzz ?

[2022-08-15 22:17] psykzz commented on #117
More details and a potential fix can be found in https://github.com/contentstack/gatsby-source-contentstack/pull/116#discussion_r768926000

[2022-08-16 05:41] abhishek305 commented on #117
Hey @psykzz,
I will try to reproduce this issue on my end and will update you soon.
Thanks again

[2022-08-16 05:41] abhishek305 commented on #117
Yes will check

[2022-08-16 11:29] abhishek305 commented on #117
Hey @psykzz,

Could please elaborate there seems to be some confusion in step 3 are you talking about setting up 2 stacks or a stack with two environments and also the gatsby site sourcing from 2 stacks?

[2022-08-17 13:52] abhishek305 commented on #117
Hi @psykzz,
I tried to reproduce the error from the steps you've given but was unable to reproduce this on my end.
Steps I performed:

- Both develop & build command (without removing cache)
- Changed environments & delivery token simultaneously(keeping the api-key same & not removing the cached data)

Could you please update the source plugin version and try it once also if possible could you sha

[2022-09-01 11:19] abhishek305 commented on #155
Quick update:
No activity was observed in this issue for more than a month closing now.
Reopen if required.
Thanks !!

[2022-09-01 11:19] #155 closed

[2022-09-08 04:20] samaritanau opened #163 "JSON RTE Embedded items"
Hello, we are using the plugin and are wondering how we can fetch entries or assets embedded within the JSON RTE. If we are using the Contentstack GraphQL we can specify the embedded_itemsConnection type and load them up, something like the below:

![image](https://user-images.githubusercontent.com/80015912/189033047-f609ee79-3cd5-4f21-984f-975c431dc013.png)

However in the plugin's GraphQL we can

[2022-10-24 17:47] yianni-ververis opened #172 "How do we specify branch in the config?"
How do we specify branch in the config?

this does not work

[code]

neither
[code]

Calling the Delivery API via Postman as a param works fine

[2022-10-25 13:21] abhishek305 commented on #172
Hi @yianni-ververis,

As of now we don't have support branches features in gatsby-source-contentstack.
We'll discuss with team internally and add this to our feature pipeline.

Thanks !!
Abhishek

[2022-10-25 13:23] abhishek305 commented on #14
Update
Closing this issue as there has been no activity recorded.
Thanks !!

[2022-10-25 13:23] #14 closed

[2022-10-28 14:18] #172 closed

[2022-11-10 08:08] samaritanau commented on #163
Any update on this?

[2022-11-10 08:11] samaritanau opened #179 "Assets fetch from all locales on build"
Hi,

We are setting the locales in the gatsby-source-contentstack options to "en-au" however all assets from all locales are being downloaded at build time.

Any way to stop that?

Regards,
Henry

[2022-11-16 14:30] abhishek305 commented on #179
Hi @samaritanau,
Could you possibly share the gatsby-config for source contentstack?
Just needed to know how you are using the `locale` config option.
here is an example :   `locales: [‘en-au']`

[2022-11-17 02:06] samaritanau commented on #179
Hi Abhishek,

Config block below, worth mentioning that it's only the assets that it's pulling all in, not the entry's, they are working as expected.

` `gatsby-plugin-gatsby-cloud`,
    {
      resolve: `gatsby-source-contentstack`,
      options: {
        api_key: process.env.CS_API_KEY,
        delivery_token: process.env.CS_DELIVERY_TOKEN,
        environment: process.env.CS_ENV,
        expe

[2022-11-17 08:22] abhishek305 commented on #179
Hi @samaritanau ,

Thanks for sharing the config, as I can see from the config you are not using the config option
`downloadImages: boolean_value,` assuming you are not downloading assets locally.

If you are using the `downloadImages: boolean_value,` with `true` it would download all the assets locally as the image delivery API we are using in our source plugin to download assets locally does not

[2022-11-17 08:54] InterestingDeploys commented on #179
ok, thanks then.

[2022-11-17 08:55] samaritanau commented on #179
ok, thanks then @abhishek305

[2022-11-17 08:55] #179 closed

[2022-11-17 09:53] abhishek305 commented on #163
Hi @samaritanau ,
Sorry for the late update missed this one,
As of now, we don't support querying embedded_items i.e. entries/assets used within JSONRte in our plugin.